<!-- About-->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h2 class="text-white mt-0">About twareLAB</h2>
        <hr class="divider light my-4" />
        <p class="text-white-75 mb-4">
          당사의 솔루션은 테스트 과정에서의 모든 로그 데이터를 클라우드 서비스를 활용하여 수집, 분석하여 테스트 프로세스의 개선 뿐만 아니라 제품 자체의 개선점까지 추출하여 제품의 품질 향상에 기여할 수
          있습니다.
          중소 제조업체의 애로사항을 해결하기 위한 끊임없는 혁신과 노력을 통해 고객이 원하는 목표에 달성할 수 있도록 최고의 솔루션을 만들고자 하루하루 새로운 도전을 이어가고 있습니다.
          미래를 위한 동반자, 티웨어랩과 함께 성공적인 비즈니스를 위한 무한한 가능성을 확인해 보시기 바랍니다.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>
