<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4" />
        <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we
          will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <p>
          <i class="fas fa-map-marker-alt"></i> 경기도 용인시 수지구 광교중앙로338, A동 417호 (상현동, 광교우미뉴브)
        </p>
        <p>
          <i class="fas fa-phone"></i> +82-70-4165-0104
        </p>
        <p>
          <i class="fas fa-envelope"></i> <a href="mailto:contact@twarelab.com">contact@twarelab.com</a>
        </p>
      </div>
      <div class="col-md-8 mb-5">
        <div class="map-responsive">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6347.718737586254!2d127.06684454506608!3d37.29846669911051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5b0814e70a5d%3A0x7fae7dc50ed50012!2zKOyjvCnti7Dsm6jslrTrnqk!5e0!3m2!1sko!2sus!4v1617526720888!5m2!1sko!2sus"
            width="100%" height="auto" style="border:0;" allowfullscreen loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
