<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">twareLAB Service</h2>
    <hr class="divider my-4" />
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code mb-4"></i>
            <h3 class="h5">풍부한 개발 기술과 노하우</h3>
            <p class="text-muted mb-0">FW, SW 등의 다양한 개발 경험, 분업화된 시스템으로 전문성 확보</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-users-cog mb-4"></i>
            <h3 class="h5">맞춤형 개발 통한 최적화</h3>
            <p class="text-muted mb-0">컨설팅을 통한 명확한 개발 목표 설정, 고객에게 특화된 솔루션 제공</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-recycle mb-4"></i>
            <h3 class="h5">체계적이고 명확한 프로세스</h3>
            <p class="text-muted mb-0">개발 단계별 명확한 업무 설정, 열린 소통을 통한 원활한 커뮤니케이션</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-quote-right mb-4"></i>
            <h3 class="h5">완벽한 사후관리</h3>
            <p class="text-muted mb-0">안정적인 사용환경 구축 및 매뉴얼 제공, 무상유지보수 기간 제공</p>
          </div>
        </div>
    </div>
    <hr class="divider my-4" />
    <div class="row row-cols-1 row-cols-md-2">
      {% for post in site.posts %} {% if post.featured == true %} {% include featuredbox.html %} {% endif %} {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio"><i class="fa fa-angle-down fa-3x"></i></a>
      </div>
  </div>
  </div> <!-- container -->
</section>
