---
layout: default
---

<!-- Page Header -->
{% if page.image %}
<header class="posthead" style="background-image: url('{{ page.image | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="posthead">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <!-- Post Categories -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</header>
<section class="page-section">
    <div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
        {{ content }}
        <hr>
        <div class="clearfix">
        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
            Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
            Post</span> &rarr;</a>
        {% endif %}
        </div>
    </div>
</div>
</section>
